<h1>Add a new User</h1>

<form action="/adduser" method="POST">
    <input type="text" placeholder="Name" name="name">
    <input type="text" placeholder="Date of Birth" name="DOB">
    <input type="text" placeholder="Blood Group" name="B_G">
    <input type="text" placeholder="Vaccination Status" name="Vac_Stat">
    <button>Submit</button>
</form>